*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
}

body{
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg{
    position: absolute;
    top: 0;
    z-index: -100;
    opacity: .2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 8px;
}

.progress-bar{
    width: 360px;
    height: 12px;
    background-color: #d1d1d1;
    margin: auto;
    opacity: .8;
    position: relative;
}

.progress-bar::before{
    content: "0%";
    position: absolute;
    left: 0;
    font-size: 12px;
    bottom: -18px;
}

.progress-bar::after{
    content: "100%";
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -18px;
}

.progress-bar span{
    display: block;
    width: 80%;
    height: 12px;
    background-color: #87b1de;
    animation: fill 1s ease-in 1;
}

@keyframes fill{
    from{
        width: 0;
    }
    
    to{
        width: 80%;
    }
}

.sm a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #87b1de;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: .7;
    transition: .3s linear;
}

.sm a:hover{
    transform: scale(1.1);
    opacity: 1;
}
 .gg-home {
    position: absolute;
    left: 21px;
    top: 23px;
 }
